@model IEnumerable<DataLayer.Friends>
@using DataLayer

@{
    ViewBag.Title = "Friends";
}

<h2>Friends</h2>

@if (Model == null)
{
    <p>
        You don't have any friends yet, search for a user and add them!
    </p>
    <p>
        List of Users in the system:
    </p>
}
<div id="UserList">
    <table>
        <tr>
            <th>Username</th>
            <th></th>
        </tr>

        @{
            GameContext gc = new GameContext();
            var users = gc.Users.ToArray();
            User currentUser = gc.getUserFromIdentity(User);

            for (int i = 0; i < users.Length; i++)
            {
                User u = users[i];

                if ((currentUser != u) && (!currentUser.Friends.Contains(u)))
                {
                    <tr>
                        <td>@u.UserName</td>
                        <td>
                            @{
                                int frCount = gc.FriendRequests.Where(fr => fr.User.UserName.Equals(currentUser.UserName) && fr.Friend.UserName.Equals(u.UserName)).Count();
                                if (frCount == 1)
                                {
                                    using (Html.BeginForm("CancelRequest", "Home", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="friendUsername" value="@u.UserName">
                                        <button type="submit" name="CancelRequest" value="CancelRequest">Cancel Request</button>
                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm("AddFriend", "Home", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="friendUsername" value="@u.UserName">
                                        <button type="submit" name="AddFriend" value="AddFriend">Add Friend</button>
                                    }
                                }
                            }
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>

<div id="FriendsList">
    <table>
        <tr>
            <th>Username</th>
            <th>Invite To Game</th>
            <th>Delete Friend</th>
        </tr>

        @{
            

        }
    </table>
</div>
