<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/style.css" rel="stylesheet" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Property Game", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ranking", "Ranking", "Home")</li>
                    <li>@Html.ActionLink("Game Feed", "GameFeed", "Boards")</li>
                    <li>@Html.ActionLink("MatchMaking", "MatchMaking", "Boards")</li>
                    <li>@Html.ActionLink("History", "History", "Boards")</li>
                    <li>@Html.ActionLink("Friends", "Friends", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Property Game MVC Application</p>
            <p>Third Party References:</p>
            <ul class="list-inline">
                <li><a src="http://jsfiddle.net/axelmichel/QXdbK/2/">CSS Animate</a></li>
                <li><a src="http://www.math.yorku.ca/~zabrocki/math2042/Monopoly/prices.html">Monopoly Rules</a></li>
                <li><a src="https://en.wikipedia.org/wiki/Template:Monopoly_board_detail">Monopoly Wiki Template</a></li>
            </ul>
        </footer>
    </div>

   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
